* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #14142c;
  color: white;
  font-family: 'Outfit', sans-serif;
  overflow-x: hidden;
}
